.card {
    margin: 10px; 
}

div.footer a {
    color: white; 
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px; 
}

div.row a, h6 {
    padding-left: 20px; 
    padding-right: 20px; 
}

.footer {
    position: fixed; 
}

.linkedin, .github, .website {
    align-content: center; 
}